---
import TaskInput from './TaskInput.astro';
import TaskList from './TaskList.astro';
import FilterControls from './FilterControls.astro';

export interface Props {
  tabId: string;
  title: string;
  isActive?: boolean;
  tasks: Array<{id: string, text: string, completed: boolean}>;
  currentFilter: string;
  //tasksState: any;
}

const { tabId, title, isActive, tasks, currentFilter/*, tasksState*/ } = Astro.props;
---
<section id={tabId} class={`tab-content ${isActive ? 'active' : ''}`}>
  <h3>{title}</h3>
  
  <TaskInput tabId={tabId} />
  
  <TaskList 
    tasks={tasks} 
    tabId={tabId} 
    
  />
  
  <FilterControls 
    tabId={tabId} 
    currentFilter={currentFilter} 
  />
</section>

<style>
  .tab-content {
    display: none;
  }
  .tab-content.active {
    display: block;
  }
</style>